In [64]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt # to show images
from PIL import Image # to read images
import os
from glob import glob

In [65]:
!pwd

/data1/r_suzuki/pipeline/BaseModel/notebooks/classification

In [66]:
img_dir = '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images'

In [67]:
test_fns = glob(img_dir + '/*')

In [68]:
test_fns[:2]

['/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00000716_12227.jpg',
 '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00001160_22382.jpg']

In [69]:
image_id_col_name = 'image_id'
all_images = pd.DataFrame([fns.split('/')[-1] for fns in test_fns]) #[:-4]
all_images['image_path'] = [fns for fns in test_fns]
all_images.columns=[image_id_col_name, 'image_path']

In [70]:
all_images.image_path.values

array(['/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00000716_12227.jpg',
       '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00001160_22382.jpg',
       '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00001023_19430.jpg',
       ...,
       '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00000733_12837.jpg',
       '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00001718_34588.jpg',
       '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/raw/images/00001750_35808.jpg'],
      dtype=object)

In [71]:
all_images

                 image_id                                         image_path
0      00000716_12227.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
1      00001160_22382.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
2      00001023_19430.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
3      00000735_12894.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
4       00000612_9008.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
...                   ...                                                ...
42671   00000616_9110.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
42672  00001419_28070.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
42673  00000733_12837.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
42674  00001718_34588.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...
42675  00001750_35808.jpg  /data1/r_suzuki/pipeline/BaseModel/data/person...

[42676 rows x 2 columns]

In [72]:
out_path = '/data1/r_suzuki/pipeline/BaseModel/data/person_attribute_demo/split/test_v1.csv'
all_images.to_csv(out_path, index=False)

In [55]:
!ls ../../data/person_attribute_demo/raw/images/007904.jpg

ls: cannot access '../../data/person_attribute_demo/raw/images/007904.jpg': No such file or directory